.commentAuthor{
    color :#1890ff;
    font-size: 13px;
    font-weight: bold;
}

.commentDate{
    color : #8c8c8c;
    font-weight: bold;
}

.commentButton{
    display : flex;
    justify-content : center;
}

.deleteIcon{
    color: #ff4d4f;
    margin-right: 5px;
    font-size: 15px;
}

.deleteIcon:hover{
    color: #ff4d4f;
    margin-right: 5px;
    font-size: 15px;
}