html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.authContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top : 15%;
}

.loginButton{
  width: 120px;
}

.signButton{
  width: 120px;
}

.loginButtons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.logoutButton{
  width : 100px
}

.logoutContainer{
  display : flex;
  justify-content: flex-end;
  margin-top: 1%;
  margin-right: 2%;
}

.headerMenu{
  display : flex;
  align-items: center;
  justify-content: space-evenly;
  height : 50px;
}

.pageFooter{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.postList{
  margin-top : 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.postDescription{
  margin-top: -15px;;
}

.feedbackButton{
  color: #08c;
  margin-right: 5px;
  font-size: 15px;
}

.profileHeader{
  margin-left: 25%;
  margin-right: 25%;
}

.followButton{
  width : 100px;
  text-align: center;
}

.profilePosts{
  margin-top: -20px;
}