html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer{
  margin-top : 10px;
  margin-left: 25%;
  margin-right: 25%;
  flex: 1 0 auto;
}

.loader {
  margin-top: 15px;
  display : flex;
  justify-content: center;
}

.actionButton{
  color: #08c;
  margin-right: 5px;
  font-size: 15px;
}