html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.authContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.authButton{
  width: 120px;
}

.loginButtons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerMenu{
  display : flex;
  align-items: center;
  justify-content: space-evenly;
  height : 50px;
}

.pageContainer{
  margin-top : 10px;
  margin-left: 25%;
  margin-right: 25%;
  flex: 1 0 auto;
}

.pageFooter{
  text-align : center;
  flex-shrink: 0;
}

.postDescription{
  margin-top: -15px;;
}

.feedbackButton{
  color: #08c;
  margin-right: 5px;
  font-size: 15px;
}

.followButton{
  width : 100px;
  text-align: center;
}

.loader {
  margin-top: 15px;
  display : flex;
  justify-content: center;
}

.commentButton{
  display : flex;
  justify-content : center;
}

.commentAuthor{
  color :#1890ff;
  font-weight: bold;
}

.commentDate{
  color : #8c8c8c;
  font-weight: bold;
}

.postTitle{
  display : flex;
  justify-content: space-between;
}